[*.c]
indent_size = 8
indent_style = tab
[*.h]
indent_size = 8
indent_style = tab
[Makefile]
indent_size = 4
indent_style = tab
[*.s]
indent_size = 4
indent_style = space
[*.sh]
indent_size = 4
indent_style = tab
[*.ld]
indent_size = 4
indent_style = tab
